/* Remove the title from the index page. */
.quarto-title {
  display: none;
}


/* Class to emulate terminal */
.terminal {
  font-family: monospace;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.2em;
  background-color: black;
  color: #afafaf;
  font-size: 0.9em;
}


/* Classes used to emulate notepad file content */
.notepad-file {
  border: 1px solid black;
  border-radius:5px;
  margin: 0.2em;
}
.notepad-header {
  background-color:lightblue;
  color:black;
  padding:0.4em;
  border-radius:5px 5px 0px 0px;
  font-size:0.9em;
}

.notepad-body {
  background-color:white;
  padding:0.4em;
  border-radius:0px 0px 5px 5px ;
  font-family:sans-serif;
  font-size:0.9em
}

/* Classes used to colour git-specific output in terminal */
.col-branch-local {
  color: #00BF00;
}

.col-branch-remote {
  color: #BF0000;
}

.col-hash {
  color: #BFBF00;
}

.col-head {
  color: #00BFBF;
}

.col-diff-added {
  color: #00BF00;
}

.col-diff-deleted {
  color: #BF0000;
}

.col-diff-header {
  color: #FFFFFF;
}

.col-diff-hunk-header {
  color: #00BFBF;
}

.col-diff-markers {
  color: #FFFFFF;
}

.col-diff-metadata {
  color: #FFFFFF;
}

.col-log-graphline1 {
  color: #BF0000;
}

.col-log-graphline2 {
  color: #00BF00;
}

.col-status-added {
  color: #00BF00;
}

.col-status-changed {
  color: #BF0000;
}


/* Classes used to colour general output in terminal */
.col-black {
  color: #000000;
}

.col-bright-black {
  color: #404040;
}

.col-blue {
  color: #0000BF;
}

.col-bright-blue {
  color: #6060FF;
}

.col-cyan {
  color: #00BFBF;
}

.col-bright-cyan {
  color: #40FFFF;
}

.col-green {
  color: #00BF00;
}

.col-bright-green {
  color: #40FF40;
}

.col-magenta {
  color: #BF00BF;
}

.col-bright-magenta {
  color: #FF40FF;
}

.col-red {
  color: #BF0000;
}

.col-bright-red {
  color: #FF4040;
}

.col-grey {
  color: #BFBFBF;
}

.col-white {
  color: #FFFFFF;
}

.col-yellow {
  color: #BFBF00;
}

.col-bright-yellow {
  color: #FFFF40;
}


