.bash-gold {
  color: #c0a000;
  font-family: monospace;
  background-color: black;
}

.bash-pink {
  color: #b148c6;
  font-family: monospace;
  background-color: black;
}

.bash-grey {
  color: #afafaf;
  font-family: monospace;
  background-color: black;
}

.bash-green {
  color: #1ca800;
  font-family: monospace;
  background-color: black;
}
